<mat-toolbar>
    <button mat-icon-button aria-label="Home" routerLink="/">
        <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button aria-label="Tutorial" routerLink="tutorials">
        <mat-icon>school</mat-icon>
    </button>


    <button mat-icon-button aria-label="Add" routerLink="add">
      <mat-icon>add</mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-icon-button aria-label="Product" routerLink="products">
        <mat-icon>icecream</mat-icon>
    </button>

    <button mat-icon-button aria-label="Add-product" routerLink="add-product">
      <mat-icon>add</mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-icon-button aria-label="Checkout" class="snipcart-checkout">
        <mat-icon>shipping_cart</mat-icon>
    </button>
</mat-toolbar>
