<div class="header" fxLayout="column" fxLayoutAlign="center center">
  <h1 class="jumbo">{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
</div>

<div class="header" fxLayout="row">
  <div>
    <img src="../../../assets/ice-cream-cherry.svg" alt="">
  </div>
  <div>
    <img src="../../../assets/ice-cream-prune.svg" alt="">
  </div>
  <div>
    <img src="../../../assets/ice-cream-squash.svg" alt="">
  </div>
</div>

<div class="header" fxLayout="row">
  <div>
    <img src="../../../assets/popsicle-cherry.svg" alt="">
  </div>
  <div>
    <img src="../../../assets/popsicle-lettuce.svg" alt="">
  </div>
  <div>
    <img src="../../../assets/popsicle-lime.svg" alt="">
  </div>
</div>
